.immagine {
  width: 300px;
  height: 300px;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
}

#search-input {
  padding-left: 25px;
  /* text-align: center; */
}

.input-container {
  position: relative;
  width: 200px;
}

input::placeholder {
  width: 200px;
}

form {
  width: 200px;
}
.altezza-brani {
  max-height: 430px;
}

.icona-spotify {
  width: 20px;
}
