body{
      
        font-family: "Circular", sans-serif;
        background-image: linear-gradient(0deg, rgba(18,18,18,1) 30%, rgba(44,44,42,1) 100%);
        background-repeat: no-repeat;
        height: 100%;

}

header{
  margin-left: -15px;
  background-color: black;
  justify-content: center;
  height: 100%;
  padding-top: 10px;

  // @media (max-width: 576px) {
  //   ul{
  //      margin-left: 60px;
  //   }
  // }


  i:first-of-type{
    color: #bebebe;
  }
  a{
    text-decoration: none;
    color: #bebebe; 
  }

  ul{
    list-style-type: none;
    color: #bebebe;
  }

  i{
    margin-right: 10px;
    font-size: 20px;
  }
  hr {
    color: white;
    width: 90%;
    margin-left: 25px;
    margin-right: auto;
  }
  
}

main {

  font-family: "Circular", sans-serif;

  // width: 70%;

  @media (max-width: 576px) {
    #artist-details h1#artist-name {
      margin-left: 5.5rem !important;
      font-size: 50px !important;
    }


  }


  #artist-details {

    #verified-account i{
      color: #3D91F4;
      font-size: 20px;
    }

    #artist-fans {
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 16px;
      text-align: center;
    }

    #artist-name {
      top: 75%;
      left: 28%;
      transform: translate(-50%, -50%);
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }

    #verified-account {
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 16px;
      text-align: center;
    }
  }


  a{
    color: whitesmoke;
    text-decoration: none;
  }

  p{
    color: whitesmoke;
  }
  #artist-details {
    position: relative;
  }
  
  #artist-name,
  #artist-fans,
  #verified-account {
    position: absolute;
    color: white;
  }
  
  #artist-name {
    top: 60%;
    left: 18%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  #artist-fans {
    bottom: 10px;
    left: 10%;
    transform: translateX(-50%);
    font-size: 16px;
    text-align: center;
  }
  
  #verified-account {
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    text-align: center;
  }

  #verified-account i{
    color: #3D91F4;

  }
}