body {
  font-family: "Circular", sans-serif;
  background: rgb(18, 18, 18);
  background: linear-gradient(
      0deg,
      rgba(18, 18, 18, 1) 36%,
      rgba(45, 45, 43, 1) 100%
    )
    no-repeat;
  // background: no-repeat;
  margin: 0;
  height: 100%;
}

#left-side{
  background-color: black;
  height: 100vh;
  .list ul{
    list-style-type: none;
  }

  .second-list ul{
    list-style-type: none;
  }
}

#center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 40vh;
  background-size: cover;
  overflow-y: auto;

  #tracce img {
    width: 25%;
  }
  
  #tracce:hover {
    opacity: 20%;
  }
  .seguito {
    i {
      margin-right: 80px;
    }
  }
}

#right-side{
  background-color: black;
  height: 100vh;
}

#artist-listeners {
  margin-right: 120px;
  margin-top: 10px;
}

#artist-name {
  font-size: 96px;
  font-weight: 600;
  padding: 5px;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0.024);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}


@media (max-width: 991px){
  #brani{
    display: none;
  }
}