body {
	font-family: Circular;
	background-color: #121212;
}
.avatar {
	width: 20px;
}

.copertina {
	width: 200px;
}

.nascondi {
	font-size: 12px;
}

.annuncio {
	background: linear-gradient(to bottom, #212121, #000000);
}

.buonasera img {
	width: 50px;
}

// .early {
//   background-color: #2d2d2d;
// }

.card {
	background-color: #171717;
}

footer img {
	width: 40px;
}

.roundel {
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
}

/* Nasconde i controlli dell'elemento audio tranne la barra dei secondi */
audio {
	width: 100%; /* Imposta la larghezza desiderata */
}

audio::-webkit-media-controls {
	display: none !important;
}

audio::-webkit-media-controls-panel {
	display: flex;
	justify-content: space-between;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
	display: flex !important;
}

.d-none svg {
	margin-left: 0;
	margin-right: 0;
	width: 20px;
}

.col-4,
.col-7 {
	max-width: 100%;
}
