@import "bs/mixins/banner";
@include bsBanner("");

// scss-docs-start import-stack
// Configuration
@import "bs/functions";

$primary: #1fdf64;
$body-bg-dark: #121212;

@import "bs/variables";
@import "bs/variables-dark";
@import "bs/maps";
@import "bs/mixins";
@import "bs/utilities";

// Layout & components
@import "bs/root";
@import "bs/reboot";
@import "bs/type";
@import "bs/images";
@import "bs/containers";
@import "bs/grid";
@import "bs/tables";
@import "bs/forms";
@import "bs/buttons";
@import "bs/transitions";
@import "bs/dropdown";
@import "bs/button-group";
@import "bs/nav";
@import "bs/navbar";
@import "bs/card";
@import "bs/accordion";
@import "bs/breadcrumb";
@import "bs/pagination";
@import "bs/badge";
@import "bs/alert";
@import "bs/progress";
@import "bs/list-group";
@import "bs/close";
@import "bs/toasts";
@import "bs/modal";
@import "bs/tooltip";
@import "bs/popover";
@import "bs/carousel";
@import "bs/spinners";
@import "bs/offcanvas";
@import "bs/placeholders";

// Helpers
@import "bs/helpers";

// Utilities
@import "bs/utilities/api";
// scss-docs-end import-stack

:root {
  --background-noise: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=");
  --background-base: $body-bg-dark;
}

$icon-sizes: (
  "large": 32px,
  "medium": 16px,
  "small": 14px,
);

$player-height: 80px;
.main-row {
  height: calc(100vh - $player-height);
}

@each $name, $size in $icon-sizes {
  .icon-#{$name} {
    display: inline-flex;
    width: $size;
    min-width: $size;
    // height: $size;
  }
}

svg {
  fill: currentColor;
  width: 100%;
}

.main-actions {
  display: flex;
  align-items: center;
  .action {
    margin-right: 24px;
    cursor: pointer;
    &.play-btn {
      width: 56px;
      height: 56px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: #000;
      margin-right: 32px;
      svg {
        width: 24px;
      }

      &:hover {
        transform: scale(1.05);
        color: #000;
      }
    }
  }
}

.start-bg {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6) 0,
      var(--background-base) 100%
    ),
    var(--background-noise);
  height: 232px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.table-row {
  grid-gap: 16px;
  display: grid;
  padding: 0 16px;
  grid-template-columns:
    [index] var(--tracklist-index-column-width, 16px) [first] minmax(
      120px,
      var(--col1, 4fr)
    )
    [last] minmax(120px, var(--col2, 1fr));
  height: 56px;
  border-radius: 4px;

  &.table-header {
    height: 36px;
    border-bottom: 1px solid currentColor;
    color: #a7a7a7;
    margin-bottom: 16px;
  }

  .table-cell {
    display: flex;
    align-items: center;
    &[role="gridcell"][aria-colindex="1"] {
      position: relative;
      button {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        // transform: translateY(-50%);
        padding: 0 !important;
        opacity: 0;
        display: flex;
        align-items: center;
        border: 0 !important;
      }
    }
  }

  &:not(.table-header):hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    button.opacity-0 {
      opacity: 1 !important;
    }
    a.text-body-secondary {
      color: $body-color-dark !important;
    }

    .table-cell {
      &[role="gridcell"][aria-colindex="1"] {
        button {
          opacity: 1;
          & + div {
            opacity: 0;
          }
        }
      }
    }
  }
  a.text-decoration-none:hover {
    text-decoration: underline !important;
  }
}

.placeholder {
  min-width: 20%;
}

img.placeholder {
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    position: absolute;
  }
}

.customBg {
  background-color: $body-bg-dark;
  transition: 250ms ease-out;
}

.text-decoration-underline-hover:hover {
  text-decoration: underline !important;
}
.riproduci {
  position: fixed;
  height: $player-height;
  bottom: 0;
  width: 100%;
  background-color: #000000;

  .play-pause-button {
    width: var(--button-size);
    height: var(--button-size);
  }
}

.avatar {
  width: 35px;
}

.nascondi {
  font-size: 9px;
}
.prime-icone svg {
  min-width: 25px;
  width: 25px;
}
.prime-icone a {
  font-size: 17px;
  margin-left: 10px;
}
.icone2 svg {
  min-width: 25px;
  max-width: 25px;
  height: 25px;
}
.icone2 a {
  font-size: 17px;

  margin-left: 10px;
}
.icone2 button {
  width: 25px;
  height: 25px;
  border: none;
  background-color: rgb(10, 75, 10);
  margin-right: 12px;
}
.icone2 button svg {
  width: 12.5px;
  height: 12.5px;
  fill: #1fdf64;
}
.brani-like {
  max-width: 25px;
  max-height: 25px;
}
.playlist {
  height: 580px;
}

.playlist p {
  font-size: 17px;
  margin-bottom: 13px;
  margin-left: 10px;
  color: rgb(180, 180, 180);
}
.nascondi {
  font-size: 15px;
  color: rgb(180, 180, 180);
  // width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.colonna3,
.colonna1 {
  min-width: 270px;
}

.circle-btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
input[type="range"] {
  height: 4px;
  appearance: none;
  width: 100%;
  margin: 2px;
  border-radius: 8px;
  transition: 0.2s ease;
  background-color: transparent;
  position: relative;

  &::-webkit-slider-thumb,
  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
  }

  &::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    margin-top: -4px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    z-index: 20;
    opacity: 0;
  }

  &::-webkit-slider-runnable-track {
    background-color: rgba(255, 255, 255, 30%);
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    height: 4px;
    width: 100%;
    border-radius: 5px;
  }

  &::-moz-range-track {
    background-color: #c1c1c1;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    height: 5px;
    width: 100%;
    border: solid #ececec 3px;
  }

  &::before {
    content: "";
    width: calc(var(--value));
    height: 4px;
    background-color: white;
    position: absolute;
    z-index: 10;
    border-radius: 5px;
  }

  &:hover {
    // background: $primary;
    &::before {
      background: $primary;
    }

    &::-webkit-slider-thumb {
      opacity: 1;
    }
  }
}

.time {
  min-width: 35px;
  font-size: 12px;
}
.active svg {
  fill: $primary;
}
.libraryActive {
  background-color: rgba(255, 255, 255, 0.082);
}
#libraryplaylist {
  & > div {
    height: 56.5px;
  }
}
